/* .nav-bar {
  padding: 0 200px;
  background-color: black;
}

.title {
  color: #ffffff;
  font-weight: 900 !important;
  text-transform: uppercase;
}

.nav-btn {
  text-transform: none;
  font-size: 16px;
} */
